/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--text-color, #F1B2CE);
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color, #000028);
}

