/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--text-color, #F1B2CE);
  font-family: var(--main-font, sans-serif);
  background-image: url(../images/cover-image-dark.png);
  background-color: var(--bg-color, #000028);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: var(--page-padding);
}

.header {
  display: grid;
  min-block-size: 668px;
  position: relative;
}

.REC__lable {
  position: absolute;
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--accent-color);
  right: 19px;
  top: 0px;
}

.REC__lable::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
}

.header::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  inline-size: 25.04px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--header-text-shadow-color, #FF0070);
  color: var(--header-text-color, #DB00FF);
  line-height: 82.5%;
}

.title-decor {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: var(--heading-text-color, #000028);
  background-color: var(--accent-color, #FF0070);
}

